html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
var,
b,
i,
ul,
li,
header,
menu,
nav,
section{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1;
    font-size: 16px;
    color: #5C5C5C;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

:hover {
    transition: all 0.5s ease 0s;
}

::-webkit-input-placeholder {
    color: rgba(17, 16, 10, .5);
    font-style: normal;
}

:-moz-placeholder {
    color: rgba(17, 16, 10, .5);
    font-style: normal;
}

::-moz-placeholder {
    color: rgba(17, 16, 10, .5);
    font-style: normal;
}

:-ms-input-placeholder {
    color: rgba(17, 16, 10, .5);
    font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 21px rgba(241, 6, 0, .1) inset !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: #000;
    -webkit-text-fill-color: rgba(17, 16, 10, .5);
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

h1,
h2,
h3,
h4,
h5 {
    color: #11100A;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.top-nav {
    background: #F10600;
    padding: 3px 0;
}

.top-nav-desc {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.top-nav-desc span {
    display: inline-block;
    color: #fff;
}

.top-nav-desc a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

.mobile-menu {
    display: none;
}

.mobile-menu span {
    width: 24px;
    height: 3px;
    background-color: #11100A;
    border-radius: 10px;
    display: block;
    margin-bottom: 4px;
    transition: all ease .4s;
}

.show-menu .mobile-menu span:first-child {
    transform: rotate(45deg);
    top: 3px;
    position: relative;
    transition: all ease .4s;
}

.show-menu .mobile-menu span:nth-child(2) {
    display: none;
}

.show-menu .mobile-menu span:last-child {
    margin-bottom: 0;
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
    transition: all ease .4s;
}

.mobile-menu span:last-child {
    margin-bottom: 0;
}

.middle-nav-desc {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.search-holder {
    position: relative;
    margin-left: 16px;
    max-width: 400px;
    width: 100%;
}

.search-holder svg {
    position: absolute;
    top: 12px;
    left: 16px;
    pointer-events: none;
}

.search-holder input {
    padding: 10px 16px 10px 46px;
    font-size: 14px;
    color: #11100A;
    border: none;
    background-color: rgba(241, 6, 0, .1);
    width: inherit;
    height: 40px;
    border: 1px solid transparent;
}

.search-holder input[type="search"]:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #F10600;
    background-image: none !important;
}

.middle-nav-desc ul {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: auto;
}

.middle-nav-desc ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #11100A;
    font-size: 16px;
    transition: all ease .4s;
}

.middle-nav-desc ul li a svg path {
    transition: all ease .4s;
}

.middle-nav-desc ul li a:hover svg path {
    fill: #F10600;
    transition: all ease .4s;
}

.middle-nav-desc ul li a:hover,
.bottom-nav-desc ul li a:hover {
    color: #F10600;
    transition: all ease .4s;
}

.middle-nav-desc ul li.cart-holder a {
    background-color: rgba(241, 6, 0, .1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease .4s;
}

.middle-nav-desc ul li.cart-holder a svg {
    width: 24px;
}

.middle-nav-desc ul li.cart-holder a:hover {
    background-color: #F10600;
    transition: all ease .4s;
}

.middle-nav-desc ul li.cart-holder a:hover svg path {
    fill: #fff;
    transition: all ease .4s;
}

.middle-nav-desc ul li.cart-holder a .cart-counter {
    width: 16px;
    height: 16px;
    background-color: #F10600;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}

.bottom-nav {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.bottom-nav-mob-head {
    display: none;
}

.bottom-nav-desc ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}

.bottom-nav-desc ul li a {
    font-size: 12px;
    color: #5C5C5C;
}
li.cart-holder{
    margin-right: 4px;
}
.cart-drawer-wrapper {
    position: fixed;
    right: -500px;
    top: 0;
    width: 500px;
    transition: all ease .4s;
}

.cart-drawer-wrapper>div {
    background: #fff;
}

.cart-drawer-wrapper.show-drawer {
    right: 0;
    transition: all ease .4s;
}

.cart-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin: 0 20px;
    border-bottom: 1px solid #e5e5e5;
}

.cart-drawer-header h1 {
    color: #11100A;
    font-size: 20px;
}

.cart-item-holder {
    height: calC(100vh - 179px);
    overflow: auto;
}

.cart-item {
    padding: 16px 0;
    margin: 0 20px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.cart-item:last-child {
    border-bottom: 0;
}

.img-box {
    max-width: 80px;
    flex: 100%;
    text-align: center;
}

.item-desc {
    position: relative;
}

.item-desc p {
    font-size: 14px;
    color: #5C5C5C;
    line-height: 24px;
    margin-bottom: 15px;
    padding-right: 35px;
}

.bottom-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity-box {
    display: flex;
    align-items: center;

}

.quantity-box li a {
    padding: 12px;
    display: block;
    color: rgb(17, 16, 10, .5);
    background: rgb(241 6 0 / 10%);
    transition: all ease .4s;
}

.quantity-box li a:hover {
    background-color: #F10600;
    color: #fff;
}

.quantity-box input[type="number"] {
    border: none;
    width: 32px;
    background: transparent;
    height: 40px;
    text-align: center;
    background: rgb(241 6 0 / 10%);
}

.quantity-box input[type="number"]:focus {
    outline: none;
}

.cart-footer {
    padding-top: 16px;
    margin: 0 20px;
    border-top: 1px solid #e5e5e5;
}

.bottom-item h3 {
    font-size: 20px;
    color: #f10600;
}

.remove-item {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 99;
}

.ms-primary-btn {
    background-color: #F10600;
    color: #fff;
    display: block;
    padding: 14px 20px;
    text-align: center;
    transition: all ease .4s;
}

.ms-primary-btn.checkout-btn {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 16px;
}

.ms-primary-btn.checkout-btn:hover {
    background-color: #c90803;
    transition: all ease .4s;
}

.link {
    display: inline-block;
    width: 100%;
    text-decoration: underline;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    color: #F10600;
    transition: all ease .4s;
}

.link:hover {
    color: #c90803;
    transition: all ease .4s;
}

.cart-drawer-wrapper.show-drawer:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #000;
    opacity: 0.75;
    z-index: -1;
}

/* timer */
section.countdown-timer {
    display: inline-flex;
    gap: 10px;
    background: #fff;
    border-radius: 4px;
    padding: 4px;
}

.countdown-timer .countdown-info {
    background: #646464;
    padding: 2px;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 0px #ccc;
    width: 26px;
    height: 26px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    position: relative;
}

.countdown-timer .countdown-info:after {
    content: ':';
    color: #646464;
    position: absolute;
    right: -7px;
    top: 2px;
    font-size: 20px;
}

.countdown-timer .countdown-info:last-child:after {
    content: none;
}

/********************************* ipad portrait #ip ********************************/
@media only screen and (min-width : 768px) and (max-width: 1000px) {
    .bottom-nav ul {
        white-space: nowrap;
        overflow-y: scroll;
    }

    .search-holder {
        max-width: 240px;
    }

}

/* ================================= Common For All mobile definitions #mx ================================= */
@media all and (max-width: 1000px) {
    .middle-nav-desc ul {
        gap: 16px;
    }
}

/* ================================= Common For All mobile definitions #mx ================================= */
@media all and (max-width: 767px) {
    .middle-nav-desc {
        padding: 16px 0;
    }

    .mobile-menu {
        display: block;
    }

    .middle-nav-desc {
        gap: 16px;
    }

    .middle-nav-desc ul li a {
        font-size: 0;
        gap: 0;
    }

    .search-holder {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 16px;
    }

    .bottom-nav-desc {
        position: fixed;
        top: 170px;
        background-color: #fff;
        width: 100%;
        left: -100%;
        transition: all ease .4s;
    }

    .show-menu .bottom-nav-desc {
        transition: all ease .4s;
        left: 0;
    }

    .bottom-nav-mob-head {
        display: block;
        padding: 16px;
        text-align: right;
        border-bottom: 1px solid #E5E5E5;
    }

    .bottom-nav-desc ul {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    .bottom-nav-desc ul li a {
        font-size: 14px;
        padding: 12px 16px;
        display: block;
        transition: all ease .4s;
    }

    .bottom-nav-desc ul li a:hover {
        background-color: #F10600;
        color: #fff;
    }

    .cart-drawer-wrapper {
        width: 100%;
        right: -100%;
    }

    .img-box {
        max-width: 70px;
    }

    .bottom-item {
        justify-content: start;
        gap: 16px;
    }

    .item-desc p {
        padding-right: 0;
        font-size: 12px;
        line-height: 20px;
    }

    .remove-item {
        bottom: 9px;
        top: auto;
    }

    .ms-primary-btn.checkout-btn {
        font-size: 16px;
    }

    .link {
        font-size: 14px;
    }

    .cart-item-holder {
        height: calC(100vh - 176px);
    }

}

@media all and (max-width: 430px) {
    .top-nav {
        padding: 5px 0px;
    }

    .top-nav-desc {
        display: block;
    }

    .top-nav-desc span {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .top-nav-desc a {
        display: block;
        width: 100%;
        margin-top: 3px;
        font-size: 12px;
        margin-bottom: 3px;
    }

    .countdown-timer {
        position: absolute;
        right: 16px;
        top: 5px;
    }

    .bottom-nav-desc {
        top: 174px;
    }

}